# Configuración de la Base de Datos MySQL (XAMPP)
DB_HOST=localhost
DB_PORT=3307
DB_NAME=bytebakery
DB_USER=un_usr
DB_PASSWORD=una_clave

# Configuración del Servidor
PORT=4000

# Clave secreta para JWT
JWT_SECRET=bytebakery_secret_2024_jwt_key

# Configuración de CORS (URL del frontend Next.js)
FRONTEND_URL=http://localhost:3000
